<div class="container">
    <h3 class="shop"> My Guitar Shop</h3>
    <hr class="road">
    <div class="row">
        <div class="col-3">
            <p style="color:orange;">Link</p>
            <p></p><br>
            <a routerLink="/home8/viewcard8">View Cart</a><br>
            <a href="">Login/Register</a><br>
            <a routerLink="/home8">Home</a><br>
            <p style="color: orange; margin-top: 20px;">Categories</p>
            <a href="">Guitars</a><br>
            <a href="">Basses</a><br>
            <a href="">Drums</a><br>
            <p style="color: orange; margin-top: 20px;">Temp Link</p>
            <a href="">Admin</a><br>
        </div>
        <div class="col-9" style="font-family: cursive;">
            <p>We have a great selection of musical instruments including guitars,
                basses, and drums. And we're constantly adding more to give you the best selection possbilel.</p>
            <h4 style="font-family: cursive; color: orange;">Featured products</h4>
        </div>
    </div>
    <hr class="road">
</div>