<div class="container">
    <h3 class="shop"> My Guitar Shop</h3>
    <hr class="road">
    <div class="row">
        <div class="col-3">
            <p style="color:orange;">Link</p>
            <p></p><br>
            <a routerLink="/home8/viewcard8">View Cart</a><br>
            <a routerLink="">Login/Register</a><br>
            <a routerLink="/home8">Home</a><br>
            <p style="color: orange; margin-top: 20px;">Categories</p>
            <a routerLink="">Guitars</a><br>
            <a routerLink="">Basses</a><br>
            <a routerLink="">Drums</a><br>
            <p style="color: orange; margin-top: 20px;">Temp Link</p>
            <a routerLink="">Admin</a><br>
        </div>
        <div class="col-9">
            <p>Why do we use it?
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <h2 class="text-warning">
                Featured products
            </h2>
            <div class="products">
                <div *ngFor="let product of products" class="mt-4 row">
                    <div class="col-3 image">
                        <img [src]="'assets/images/' + product.imageUrl" alt="" width=100% height=85%>
                    </div>
                    <div class="text col-9">
                        <div class="name"><a [routerLink]="'/home8/detail8/'+product.id">{{ product.productname }}</a></div>
                        <div class="price"><span><strong>Peice: </strong></span>{{ product.price }}</div>
                        <div class="description">
                            {{ product.description }}
                        </div>
                    </div>
                    
                </div>
    
            </div>
            </div>
    </div>
    <hr class="road">
</div>